@model BookRent.Models.BookRentals


@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<form class="bg0 p-t-75 p-b-85" asp-action="Create">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-xl-7 m-lr-auto m-b-50 w-75">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 m-lr-auto m-b-50">
                <div class="m-l-25 m-r--38 m-lr-0-xl">
                    <div class="wrap-table-shopping-cart">
                        <table class="table-shopping-cart">
                            <tr class="table_head">
                                <th class="column-1">Imagine</th>
                                <th class="column-2">Nume Carte</th>
                                <th class="column-3">Pret</th>
                                <th class="column-4">Incepand Cu</th>
                                <th class="column-5">Pana La</th>
                            </tr>

                            <tr class="table_row">
                                <td class="column-1">
                                    <div class="how-itemcart1">
                                        <img src=@Model.Books.BkImage alt="IMG">
                                    </div>
                                </td>
                                <td class="column-2">@Model.Books.BkName</td>
                                <td class="column-3">@Model.Books.BkPrice </td>
                                <td class="column-4">
                                    <input asp-for="RentalStart" class="form-control" />
                                    <span asp-validation-for="RentalStart" class="text-danger"></span>
                                </td>
                                <td class="column-5">
                                    <input asp-for="RentalEnd" class="form-control" />
                                    <span asp-validation-for="RentalEnd" class="text-danger"></span>
                                </td>
                            </tr>
                        </table>
                        <div class="form-group">
                            <label asp-for="BookId" hidden class="control-label"></label>
                            <select asp-for="BookId" hidden class="form-control" asp-items="ViewBag.BookId"></select>
                        </div>
                        <div class="form-group">
                            <label asp-for="UserId" hidden class="control-label"></label>
                            <select asp-for="UserId" hidden class="form-control" asp-items="ViewBag.UserId"></select>
                        </div>
                    </div>

                    <div class="form-group flex-w flex-sb-m bor15 p-t-18 p-b-15 p-lr-40 p-lr-15-sm">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                    <div>
                        <button class="btn btn-outline-info">
                            <a asp-controller="Books" asp-action="Index">Alege alta Carte</a>
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
