@model IEnumerable<Publisher>

@{
    ViewData["Title"] = "List of Publishers";
}

<div class="bg0 m-t-23 p-b-140">
    <div class="container">
        <div class="row isotope-grid">
            @foreach (var item in Model)
            {
                <div class="block2">
                    <div class="block2-pic hov-img0">
                        <img src=@item.ImgPublisher alt="IMG-PRODUCT" width="270" height="334">

                        <a class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04" asp-action="Details" asp-route-id=@item.Id>
                            See Details
                        </a>
                    </div>

                    <div class="block2-txt flex-w flex-t p-t-14">
                        <div class="block2-txt-child1 flex-col-l ">
                            <a href="#" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                @item.Name
                            </a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@if (User.IsInRole("creator"))
{
    @await Html.PartialAsync("_AddItem", "Publishers")
}

